
.product-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  background-color: var(--card-bg-color);
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.product-card-img {
  height: 250px;
  object-fit: cover;
}

.product-card-title {
  font-family: var(--font-primary);
  color: var(--text-color);
  font-size: 1.5rem;
}

.product-card-description {
  font-family: var(--font-secondary);
  color: var(--text-color);
  flex-grow: 1;
}

.product-card-price {
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: #333;
  font-size: 1.4rem;
  color: #ff69b4;
}

.product-card .product-card-button {
  background-color: #25D366 !important;
  border-color: #25D366 !important;
  color: white;
  font-weight: 500;
  border-radius: 50px;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.product-card .product-card-button:hover {
  background-color: #128c7e !important;
  border-color: #128c7e !important;
  transform: scale(1.05);
  color: white;
}

/* Ajustes para pantallas medianas (tablets) */
@media (max-width: 991.98px) { /* Bootstrap's 'lg' breakpoint */
  .product-card-img {
    height: 200px; /* Reduce la altura de la imagen en tablets */
  }
  .product-card-title {
    font-size: 1.3rem;
  }
  .product-card-description {
    font-size: 0.9rem;
  }
  .product-card-price {
    font-size: 1.2rem;
  }
  .product-card .product-card-button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}

/* Ajustes para pantallas pequeñas (teléfonos) */
@media (max-width: 767.98px) { /* Bootstrap's 'md' breakpoint */
  .product-card-img {
    height: 180px; /* Reduce aún más la altura de la imagen en teléfonos */
  }
  .product-card-title {
    font-size: 1.2rem;
  }
  .product-card-description {
    font-size: 0.85rem;
  }
  .product-card-price {
    font-size: 1.1rem;
  }
  .product-card .product-card-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

/* Ajustes para pantallas muy pequeñas (teléfonos pequeños) */
@media (max-width: 575.98px) { /* Bootstrap's 'sm' breakpoint */
  .product-card-img {
    height: 150px;
  }
  .product-card-title {
    font-size: 1.1rem;
  }
  .product-card-description {
    font-size: 0.8rem;
  }
  .product-card-price {
    font-size: 1rem;
  }
  .product-card .product-card-button {
    padding: 5px 10px;
    font-size: 0.75rem;
  }
}
